<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.saienko.androidthings.barman">

    <uses-permission android:name="com.google.android.things.permission.USE_PERIPHERAL_IO" />

    <application
        android:name=".AlcoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <!--<uses-library android:name="com.google.android.things" />-->


        <service
            android:name=".service.CocktailService"
            android:exported="false" />

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Launch activity automatically on boot -->
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.IOT_LAUNCHER" />-->
            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->

            <!-- Launch activity automatically on boot, relaunch on termination. Added in 0.8-devpreview -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/activity_name_settings"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.settings.SettingsCocktailsActivity"
            android:label="@string/activity_name_settings"
            android:parentActivityName=".ui.settings.SettingsActivity" />
        <activity
            android:name=".ui.settings.SettingsMotorActivity"
            android:label="@string/activity_name_motors"
            android:parentActivityName=".ui.settings.SettingsActivity" />
        <activity
            android:name=".ui.settings.SettingsGpioActivity"
            android:label="@string/activity_name_gpios"
            android:parentActivityName=".ui.settings.SettingsActivity" />
        <activity
            android:name=".ui.settings.AddMotorActivity"
            android:label="@string/activity_name_motor_details"
            android:parentActivityName=".ui.settings.SettingsMotorActivity" />
        <activity
            android:name=".ui.settings.SettingsComponentActivity"
            android:label="@string/activity_name_drink_components"
            android:parentActivityName=".ui.settings.SettingsActivity" />
        <activity
            android:name=".ui.settings.AddCocktailActivity"
            android:label="@string/title_activity_add_cocktail"
            android:parentActivityName=".ui.settings.SettingsCocktailsActivity" />
        <activity
            android:name=".ui.settings.SettingsPositionsActivity"
            android:label="@string/title_activity_position"
            android:parentActivityName=".ui.settings.SettingsActivity" />
        <activity
            android:name=".ui.settings.AddPositionActivity"
            android:label="@string/title_activity_add_position"
            android:parentActivityName=".ui.settings.SettingsPositionsActivity" />
        <activity
            android:name=".ui.CocktailActivity"
            android:label="@string/title_activity_cocktail"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.settings.ViewGpioActivity"
            android:parentActivityName=".ui.settings.SettingsGpioActivity" />
        <activity
            android:name=".ui.InfoActivity"
            android:label="@string/title_activity_info" />
        <activity
            android:name=".ui.settings.AddCocktailComponentActivity"
            android:parentActivityName=".ui.settings.AddCocktailActivity" />
    </application>

</manifest>